/*FONTS FROM GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/*STYLING MAIN PAGE*/
.main-container {
	font-family: "Orbitron", sans-serif;
	background-image: url('../assets/starship2.webp');
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    height: 100vh;
	color: white;
}

/*HEADER*/
.header {
	display: flex;
	align-items: center;
	margin-bottom: 3rem;
}

.headline {
	font-size: 4rem;
	flex-basis: 90%;
	display: flex;
	justify-content: center;
	margin-left: 7rem;
}

.back-button {
	background: linear-gradient(#37F3FF, #C1FBFF);
	max-width: 6rem;
	height: 3rem;
	border-radius: 0.5rem;
	flex-basis: 10%;
	border: 1px solid white;
}

.back-button:hover {
	background: linear-gradient(#17bfca, #a5ebf0);
}

/*USING INTER FOR BETTER READABILITY*/
.sub-container {
	width: 100%;
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	font-family: "Inter", sans-serif;
}

.list-container {
	display: flex;
	text-align: center;
	font-size: larger;
	background-color: white;
	border-radius: 10px;
	color: black;
	width: 90vw;
}

.title {
	flex-basis: 15%;
	margin-left: 1rem;
}

.year {
	flex-basis: 15%;
}

.director {
	flex-basis: 15%;
}

.producers {
	flex-basis: 15%;
}

.characters {
	flex-basis: 25%;
}

.movie-image {
	margin-right: 1rem;
	flex-basis: 15%;
}

/*IN CASE OF ERROR*/ 
.error-message {
	color: red;
	background-color: rgba(253, 232, 232, 0.773);
	font-size: 2rem;
	padding: 1rem;
	margin-top: 5rem;
	border-radius: 0.5rem;
	border: 1px solid red;
}

.refresh-button {
	font-family: 'Orbitron', sans-serif;
	font-size: large;
	background-image: url(../assets/arrows-rotate-light.svg);
	background-size: 20%;
	background-position: right 50%;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	height: 3rem;
	width: 8rem;
	background-color: #55a630;
	color: black;
	padding: 0.5rem;
	margin: 2rem;
	border-radius: 0.5rem;
	border: 0.5px solid white;
}

.refresh-button:hover {
	background-color: #83c066;
}

.refresh-button:active {
	background-color: #357d14;
}