.title, .filmTitle {
	flex-basis: 15%;
	margin-left: 1rem;
}

.year, .filmYear {
	flex-basis: 15%;
}

.director, .filmDirector {
	flex-basis: 15%;	
}

.producers, .filmProducers {
	flex-basis: 25%;
}

.characters, .filmCharacters {
	flex-basis: 20%;
}

.movie-image, .filmImage, img{
	margin-right: 1rem;
	flex-basis: 15%;
	max-width: 55px;
	height: auto;
}

