/*MAIN PAGE STYLING*/
.main-page, .main-container {
	font-family: var(--font-family-headlines);
	background-image: var(--background-image-desktop);
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    height: 100vh;
	color: var(--color-primary);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.headline {
	font-size: var(--font-size-xxl);
	color: var(--color-tertiary);
}

.info-text {
	font-size: var(--font-size-small);
	text-align: center;
	margin-bottom: var(--spacing-base);
}

.link-container {
	display: grid;
	gap: var(--spacing-base);
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(4, 1fr);
}

.links {
	font-size: var(--font-size-large);
	cursor: pointer;
	
}

.links:hover {
	color: #fff;
	text-shadow:
		0 0 7px var(--color-accent),
		0 0 10px var(--color-accent),
		0 0 21px var(--color-accent),
		0 0 32px var(--color-accent),
		0 0 42px var(--color-accent),
		0 0 52px var(--color-accent);
}

.film-link {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

.planets-link {
	grid-column: 4 / 5;
	grid-row: 2 / 3;
}

.people-link  {
	grid-column: 2 / 3;
	grid-row: 4 / 5;
}

.vehicle-link {
	grid-column: 4 / 5;
	grid-row: 4 / 5;
}

/*----------------------------------------------------------------------------------------*/
/* GENERAL STYLING FOR FILMS, PLANETS, PEOPLE AND VEHICLES
/*HEADER*/
.header {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	margin-bottom: var(--spacing-medium);
}

.headline-content {
	font-size: var(--font-size-large);
	grid-column: 4 / 5;
}

.back-button {
	grid-column: 2 / 3;
	background: none;
	color: var(--color-tertiary);
	width: 10rem;
	height: 3rem;
	font-size: var(--font-size-small);
	border-radius: var(--border-radius-normal);
	border: var(--border-white);
	margin: auto;
}

.back-button:hover {
	color: #fff;
	text-shadow:
		0 0 7px var(--color-tertiary),
		0 0 10px var(--color-tertiary),
		0 0 21px var(--color-tertiary),
		0 0 32px var(--color-tertiary),
		0 0 42px var(--color-tertiary);
}


/*PAGE CONTENT*/
.sub-container {
	width: 100%;
	height: 80%;
	display: flex;
	gap: var(--spacing-medium-small);
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	font-family: var(--font-family-data-text); /*USING INTER FOR BETTER READABILITY*/
}

.contentContainer {
	background-color: var(--background-color-container);
	border-radius: var(--border-radius-normal);
	height: 10rem;
	width: 28.125rem;
	display: flex;
	align-items: center;
}

.contentText {
	color: var(--color-secondary);
	font-size: var(--font-size-very-tiny);
	font-weight: 500;
	padding: var(--spacing-small);
}

.contentImage, img{
	margin-right: var(--spacing-base);
	max-width: 6.25rem;
	height: 6.25rem;
	border-radius: var(--border-radius-normal);
}


/*IN CASE OF ERROR*/ 
.error-message {
	color: var(--color-accent);
	background-color: var(--background-color-error);
	text-align: center;
	font-size: var(--font-size-small);
	padding: var(--spacing-base);
	margin-top: var(--spacing-xl);
	border-radius: var(--border-radius-normal);
	border: var(--border-red);
}

.refresh-button {
	font-family: var(--font-family-headlines);
	font-size: var(--font-size-very-tiny);
	background-image: url(../assets/arrows-rotate-light.svg);
	background-size: 20%;
	background-position: right 50%;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	height: 3rem;
	width: 8rem;
	background-color: var(--button-color-refresh);
	color: var(--color-secondary);
	padding: var(--spacing-small);
	margin: var(--spacing-medium);
	border-radius: var(--border-radius-normal);
	border: var(--border-white-thin);
}

.refresh-button:hover {
	background-color: var(--button-color-refresh-hover);
}

.refresh-button:active {
	background-color: var(--button-color-refresh-active);
}

/* A LOADER SO THAT USERS KNOW ITS LOADING*/
.loader {
	margin-top: var(--spacing-medium-large);
	border: 0.75rem solid var(--color-tertiary); /* Changed it to Star Wars colors*/
	border-top: 0.75rem solid var(--color-secondary);
	border-radius: 50%;
	width: 7.5rem;
	height: 7.5rem;
	animation: spin 2s linear infinite;
  }
  
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

