/*MAIN PAGE STYLING*/
.main-page,
.main-container {
	font-family: var(--font-family-headlines);
	background-image: url('../assets/mobile-layout-stars.webp');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	color: var(--color-primary);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.headline {
	font-size: var(--font-size-xl);
	color: var(--color-tertiary);
	flex-basis: 10%;
}

.info-text {
	font-size: var(--font-size-small);
	text-align: center;
	margin-bottom: var(--spacing-base);
	flex-basis: 15%;
}

.link-container {
	display: grid;
	gap: var(--spacing-base);
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(4, 1fr);
	flex-basis: 75%;
	margin-top: var(--spacing-medium);
}

.links {
	font-size: var(--font-size-large);
	cursor: pointer;
}

.links:hover {
	color: #fff;
	text-shadow: 0 0 7px var(--color-accent), 0 0 10px var(--color-accent),
		0 0 21px var(--color-accent), 0 0 32px var(--color-accent),
		0 0 42px var(--color-accent), 0 0 52px var(--color-accent);
}

.film-link {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

.planets-link {
	grid-column: 4 / 5;
	grid-row: 1 / 2;
}

.people-link {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
}

.vehicle-link {
	grid-column: 4 / 5;
	grid-row: 3 / 4;
}

/*----------------------------------------------------------------------------------------*/
/* GENERAL STYLING FOR FILMS, PLANETS, PEOPLE AND VEHICLES
/*HEADER*/
.header {
	width: 100%;
	display: flex;
	flex-basis: 10%;
}

.header-button-section {
	flex-basis: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.headline-section {
	flex-basis: 40%;
}

.spacing-section {
	flex-basis: 30%;
}

.headline-content {
	font-size: var(--font-size-large);
	text-align: center;
}

.back-button {
	background: none;
	color: var(--color-tertiary);
	width: 10rem;
	height: 3rem;
	font-size: var(--font-size-small);
}

.back-button:hover {
	color: #fff;
	text-shadow: 0 0 7px var(--color-tertiary), 0 0 10px var(--color-tertiary),
		0 0 21px var(--color-tertiary), 0 0 32px var(--color-tertiary),
		0 0 42px var(--color-tertiary);
}

/*PAGE CONTENT*/
.sub-container {
	flex-basis: 90%;
	width: 100%;
	height: 700px;
	display: flex;
	gap: var(--spacing-medium-small);
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	font-family: var(
		--font-family-data-text
	); /*USING INTER FOR BETTER READABILITY*/
}

.contentContainer {
	background-color: var(--background-color-container);
	border-radius: var(--border-radius-normal);
	height: 11rem;
	width: 28.125rem;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.infoSection {
	flex-basis: 85%;
	display: flex;
	flex-direction: column;
}

.imageSection {
	flex-basis: 15%;
}

.contentText {
	color: var(--color-secondary);
	font-size: var(--font-size-very-tiny);
	font-weight: 500;
	margin-left: var(--spacing-small);
}

.contentImage,
img {
	margin-right: var(--spacing-small);
	max-width: 6.25rem;
	height: 6.25rem;
	border-radius: var(--border-radius-normal);
}

/*IN CASE OF ERROR*/
.error-message {
	color: var(--color-accent);
	background-color: var(--background-color-error);
	text-align: center;
	font-size: var(--font-size-small);
	padding: var(--spacing-base);
	margin-top: var(--spacing-xl);
	border-radius: var(--border-radius-normal);
	border: var(--border-red);
}

.refresh-button {
	font-family: var(--font-family-headlines);
	font-size: var(--font-size-very-tiny);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3rem;
	width: 8rem;
	background-color: var(--button-color-refresh);
	color: var(--color-secondary);
	padding: var(--spacing-small);
	margin: var(--spacing-medium);
	border-radius: var(--border-radius-normal);
	border: var(--border-white-thin);
}

.refresh-button:hover {
	background-color: var(--button-color-refresh-hover);
}

.refresh-button:active {
	background-color: var(--button-color-refresh-active);
}

/* A LOADER SO THAT USERS KNOW ITS LOADING*/
/* THOUGHT IT WOULD BE COOL IF IT LOOKED A LITTLE LIKE A SUN */
.loader {
	margin-top: var(--spacing-medium-large);
	border: 0.75rem solid var(--color-primary);
	border-top: 0.75rem solid var(--color-secondary);
	border-radius: 50%;
	width: 7.5rem;
	height: 7.5rem;
	animation: spin 2s linear infinite;
	background: var(--color-tertiary);
	box-shadow: 0 0 7px var(--color-tertiary), 0 0 10px var(--color-tertiary),
		0 0 21px var(--color-tertiary), 0 0 32px var(--color-tertiary),
		0 0 42px var(--color-tertiary);
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
